*, html, body {
    
}

body {
    background-color: #393939;
    color: #F6F7F9;
    font-family: Roboto;
    text-align: center;
}

a {
    display: inline-block;
    background-color: #8E44AD;
    line-height: 1em;
    border-radius: 2em;
    padding: .7em 1em;
    margin-top: .5em;
    text-decoration: none;
    color: #F6F7F9;
    border: 1px solid #8E44AD;
    font-size: .95em;
}

a:hover {
    background-color: #F6F7F9;
    color: #8E44AD;
}